body {
	overflow: hidden;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track-piece  {
	background-color:rgb(169,169,169);
}

::-webkit-scrollbar-thumb:vertical {
	height: 30px;
	background-color: #b71c1c;
}


#leftSide {
	background-color: #333;
	height: 800px;
	display: inline-block;
	float: left;
}

#logosite {
	font-style: italic;
	color: white;
}

#myprofile {
	background-color: white;
	padding: 1em;
	color: black;	
	margin-bottom: 1em;
}

.panel-default > .panel-heading {
	color: white !important;
	background-color: rgb(183, 28, 28) !important;
	border-color: rgb(183, 28, 28) !important;
	cursor: pointer;
}

.panel-default {
	border-color: white;
}

#lastinvites {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0px 1em;
	background-color: white;
	display: block;
	height: 150px;
	overflow-y: scroll;
}

.invites {
	display: inline-block;
	padding: 1em 0px;
	border-bottom: 1px solid grey;
}

.invites p{
	color: black;
}
.invites img{
	width: 50px;
}


.slider-selection {
	background: #BABABA;
}

#gender{
	display: inline-block;
}

form  { 
	display: table;     
}

.table-row { 
	display: table-row;  
	margin-top : 1em;
}

.table-cell { 
	display: table-cell; 
}

#map {
	display: inline-block;
	float: left;
}

#map img {
	width: 100%;
	height: 100%;
}

#markPerson {
	padding:0.5em;
	overflow: scroll;
	overflow-x: hidden;
}

.personProfileImg {
	display: block;
	margin:auto;
	width: 200px;
	margin-bottom: 1em;
}

.photos {
	margin-bottom: 1em;
	display: inline-block;
}

.personProfile {
	padding-left: 1em;
}
	
#closeInformation, #closeInformationEvent {
	float: left;
	position: fixed;
	top: 2px;
}

.updated-handle {
    background:  rgb(183, 28, 28) !important; 
}

.modal-backdrop {
	opacity: 0.7;
}
