<link rel='stylesheet' href='/stylesheets/reset.css'/>
<link rel='stylesheet' href='/stylesheets/main.css'/>

<div id="wrapper" class="row">
	<div id="sidebar">
		dmskl
	</div>
	<div id="btn-container"> 
		<button id="myprofile"><span id="menu-myprofile"> Моят профил </span></button>
		<button id="myprofile"><span id="menu-icon" class="	glyphicon glyphicon-user"></span></button>
		<button id="myprofile"><span id="menu-icon" class="	glyphicon glyphicon-user"></span></button>
		<button id="sidebar-toggle"><span id="menu-icon" class="glyphicon glyphicon-menu-left"></span></button>
	</div>
	<div id="map">
		<img src="/images/map.png" style="width:100%; height:100%;">
	</div>
</div>

<script>
	$(function() {
		$("#wrapper").css("height", window.innerHeight);
		$("#sidebar-toggle").click(function() {
			$("#sidebar").animate({width:'toggle'}, 600, function() {
				$("#menu-icon").toggleClass("glyphicon glyphicon-menu-left");
				$("#menu-icon").toggleClass("glyphicon glyphicon-menu-right");
			});
		});
	});
</script>