<<<<<<< HEAD
=======
<header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Our website</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><button class="btn btn-danger btn-lg" id="top-login-button">Вход</button></li>
                <li><button class="btn btn-danger btn-lg" id="top-register-button">Регистрация</button></li>
                {{!--<a href="#" id="top-login-button">Login</a></li>--}} {{!--
                <li><a href="#" id="top-register-button">Register</a></li>--}}
            </ul>
        </div>
    </nav>
</header>

<main>
    <img class="mainPictures" src="images/smile.jpg" alt="">
    <img class="mainPictures" src="images/available.jpg" alt=""> {{!--
    <div class="row">--}}
        <div id="register-form">
            <h3 class="field-title">Регистрация</h3>
            <div class="row">
                <div class="col-md-5" id="register-left-side">
                    <h3>Използвайте данните си от: </h3>
                    <button class="btn btn-primary btn-lg">Facebook</button>
                    <button class="btn btn-danger btn-lg">Google</button>
                </div>

                <div class="col-md-7">
                    <h3>Моля попълнете всички полета</h3>
                    <form action="">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="firstName" type="text" class="form-control" name="firstName" placeholder="Име:">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="secondName" type="text" class="form-control" name="secondName" placeholder="Фамилия:">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="email" type="email" class="form-control" name="email" placeholder="И-мейл:">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="password" type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="repeatedPassword" type="password" class="form-control" name="repeatedPassword" placeholder="Repeat your password">
                        </div>

                        <button class=" btn btn-primary btn-lg pull-right">Регистрация</button>
                    </form>
                </div>
            </div>
        </div>
        {{!--</div>--}}
    <div id="login-form">
        <h3 class="field-title">Вход</h3>
        <div class="row">
            <div class="col-md-5" id="register-left-side">
                <h3>Влез с: </h3>
                <button class="btn btn-primary btn-lg">Facebook</button>
                <button class="btn btn-danger btn-lg">Google</button>
            </div>
            <div class="col-md-7">
                <h3>Моля попълнете всички полета</h3>
                <form action="">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input id="email" type="email" class="form-control" name="email" placeholder="И-мейл">
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="password" type="password" class="form-control" name="password" placeholder="Парола">
                </div>
                <button class=" btn btn-primary btn-lg pull-right">Вход</button>
                </form>
            </div>
        </div>


        </div>
    </div>
</main>

<footer>
    <div class="panel panel-danger">
        <div class="panel-heading centered-text">
            <h5>Всички права запазени © 2017</h5>
        </div>
    </div>
</footer>

{{!--
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>Test Nodemon</p>
<button class="btn btn-danger">Butonka</button>--}}
>>>>>>> 0e6866ce8c2f74bd305ca4a3ab9ea9542d10327c

<script src="/scripts/firstPage.js"></script>
