<div ng-controller="accountController" class="modal show" role="dialog">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Моля попълнете</h4>
            </div>
            <div class="modal-body">
                <form ng-submit="saveAccountSettings()">
                    <div class="row">

                        <div class="col-sm-6">
                            <input type='file' id="file" custom-on-change="uploadFile">
                            <div style="width:300px; height: auto">
                                <img id="photo" ng-src="{{ user.profilePicture }}" class="col-sm-12" />
                            </div>
                        </div>

                        <div class="col-sm-5">
                            <div>
                                <label for="age">Години: </label>
                                <input id="age" type="number" min="0" ng-model="user.age" required/>
                            </div>

                            <div>
                                <label for="gender"> Пол: </label>
                                <input type="radio" ng-model="user.gender" name="gender" value="male" required> Male
                                <input type="radio" ng-model="user.gender" name="gender" value="female"> Female
                            </div>

                            <div>
                                <label for="description">Описание:</label>
                                <textarea id="description" rows="4" cols="50" ng-model="user.description" required></textarea>
                            </div>

                            <div>
                                <label for="">Интереси: </label>
                                <div ng-repeat="interest in interests">
                                    <input type="checkbox" ng-model="user.interests[$index]" ng-true-value="'true'" ng-false-value="'false'">
                                    <label for="">{{interest.name}}</label>
                                </div>
                            </div>

                            <div>
                                <button type="submit" class="btn btn-success">Запази</button>
                                <button ng-show="showCancelButton" class="btn btn-danger" ng-click="cancel($event)">Отмени</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>