<div ng-controller="accountController" class="modal show" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color: lightgrey">
                <h4 class="modal-title">Моля попълнете</h4>
            </div>
            <div class="modal-body">
                <form ng-submit="saveAccountSettings()">
                    <div class="row">

                        <div class="col-sm-6">
                            <input type='file' id="file" custom-on-change="uploadFile">
                            <div style="width:300px; height: 400px">
                                <img id="photo" ng-src="{{ user.profilePicture }}" class="col-sm-12" />
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div>
                                <label for="age">Години: </label>
                                <input id="age" type="number" min="0" ng-model="user.age" ng-disabled="regUser" required/>
                            </div>

                            <div>
                                <label for="gender"> Пол: </label>
                                <input type="radio" ng-model="user.gender" value="male" ng-disabled="regUser"> Male
                                <input type="radio" ng-model="user.gender" value="female" ng-disabled="regUser"> Female
                            </div>

                            <div>
                                <label for="description">Описание:</label>
                                <textarea id="description" ng-model="user.description"></textarea>
                            </div>

                            <div>
                                <label for="">Интереси: </label>
                                <div ng-repeat="interest in interests">
                                    <input type="checkbox" ng-model="interest.value" value="interest.value">
                                    <label for="">{{interest.name}}</label>
                                </div>
                            </div>

                            <div>
                                <button type="submit">Запази</button>
                                <button ng-show="showCancelButton" ng-click="cancel($event)">Отмени</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>