<div id="chatPage" ng-controller="chatRoomController">
	<div ng-include="'assets/views/moreInfo.htm'"></div>
	<!--<h1>You are chatting with: {{friendId}}</h1>
    <h1>{{ name }}</h1>-->
	<div class="col-sm-9">
		<h2>Welcome in my chatroom</h2>
		<p>Here you can chat with your friends</p>
		<h3>You are chatting with: {{friendId}}</h3>

		<ul id="messages-area">
			<li ng-repeat="message in messages">
				{{message.message}}
			</li>
		</ul>
		<form id="form" action="/chatroom" method="POST">
			<input id="new-message" type="text" name="message" />
			<button id="sendMessage">Send</button>
		</form>
	</div>

</div>