<div ng-controller="chatRoomController">

	<div id="message-container" class="col-sm-6">
		<!--Here will print all messages-->
	</div>
	<p ng-show="friendIsTyping" id="friendIsTyping">Потребителя пише съобщение</p>



	<!--<form id="send-message-form" class="col-sm-6">
		<input id="new-message" type="text" name="message" />
		<button id="sendMessage" class="btn btn-danger">Send</button>
	</form>-->

	<form id="send-message-form" class="col-sm-6">
		<div class="input-group">
			<input id="new-message" type="text" class="form-control"  name="message" />
			<div class="input-group-btn">
				<button id="sendMessage" class="btn btn-danger">Send</button>
			</div>
		</div>
	</form>

	<!--<div class="col-sm-9">
				<h2>Welcome in my chatroom</h2>
				<p>Here you can chat with your friends</p>
				<h1>You are chatting with: {{friendId}}</h1>

				<div id="chatWrapper">
					<ul id="messages-area">
						<li ng-repeat="message in messages">
							{{message.message}}
						</li>
					</ul>
				</div>-->


	<div ng-include="'assets/views/moreInfo.htm'"></div>
</div>