<header ng-controller="headerController">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a id="top-site-button" class="navbar-brand" href="#/">Tinder</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a id="top-login-button"><span class="glyphicon glyphicon-log-in"></span> Вход</a></li>
                <li><a id="top-register-button"><span class="glyphicon glyphicon-user"></span> Регистрация</a></li>
            </ul>
        </div>
    </nav>
</header>