<header ng-controller="headerController">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Our website</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><button class="btn btn-danger btn-lg" id="top-login-button">Вход</button></li>
                <li><button class="btn btn-danger btn-lg" id="top-register-button">Регистрация</button></li>
            </ul>
        </div>
    </nav>
</header>