<div ng-controller="leftSideController">
    <aside id="leftSide" class="col-sm-3">

        <div id="logosite">
            <h2>Tinder</h2>
        </div>

        <div id="myprofile">
            <img src="{{ currentUser.profilePic }}" class="col-sm-4" />
            <p>{{ currentUser.firstname }} {{ currentUser.lastname }}</p>
            <span id="accountSetting">Редактиране на профила</span>
            <div>
                <button class="btn btn-sm" onclick="angular.element(this).scope().logout()">Logout</button>
            </div>
        </div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    <h4 class="panel-title">
                        Хора
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body">
                        <form method="POST">
                            <div id="custom-search-input">
                                <div class="input-group">
                                    <input type="text" class="form-control input-md" ng-model="namePerson" ng-change="searchPeopleByName()" placeholder="Търси хора.."
                                    />
                                </div>
                            </div>
                        </form>
                        <hr/>
                        <form id="peopleForm" ng-submit="searchPeople()">
                            <div class="table-row">
                                <label class="table-cell">Радиус: </label>
                                <div class="table-cell" ng-init="radius=0">
                                    <input type="number" min="0" ng-model="radius">
                                </div>
                            </div>
                            <div class="table-row">
                                <label class="table-cell">Пол: </label>
                                <div id="gender" class="table-cell">
                                    <label>Мъже</label>
                                    <input type="checkbox" checked data-toggle="toggle" data-onstyle="danger" data-offstyle="default" data-size="mini" ng-model="male"
                                        ng-true-value="'on'" ng-false-value="'off'">
                                    <label>Жени</label>
                                    <input type="checkbox" data-toggle="toggle" data-onstyle="danger" data-offstyle="default" data-size="mini" ng-model="female"
                                        ng-true-value="'on'" ng-false-value="'off'">
                                </div>
                            </div>
                            <div class="table-row">
                                <label class="table-cell">Интереси: </label>
                                <div class="table-cell">
                                    <input type="text" name="">
                                </div>
                            </div>
                            <div class="table-row" x>
                                <button class="btn btn-danger btn-block" type="submit"> Търси </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                    <h4 class="panel-title">
                        Събития
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                    </div>
                </div>
            </div>
        </div>

        <div id="lastinvites">
            <div class="invites">
                <img src="https://organicthemes.com/demo/profile/files/2012/12/profile_img.png" class="col-sm-3">
                <p> George пожела да започне чат с Вас</p>
            </div>
            <div class="invites">
                <img src="https://organicthemes.com/demo/profile/files/2012/12/profile_img.png" class="col-sm-3">
                <p> George пожела да започне чат с Вас</p>
            </div>
            <div class="invites">
                <img src="https://organicthemes.com/demo/profile/files/2012/12/profile_img.png" class="col-sm-3">
                <p> George пожела да започне чат с Вас</p>
            </div>
        </div>

    </aside>
</div>