<div ng-controller="leftSideController">
    <aside id="leftSide" class="col-sm-3">

        <div id="logosite">
            <h2>Tinder</h2>
        </div>

        <div id="myprofile">
            <div class="row">
                <div class="col-sm-7">
                    <img ng-src="{{ currentUser.profilePicture }}"  class="col-sm-12"/>
                </div>
                <div class="col-sm-5">
                    <p>{{ currentUser.firstname }} {{ currentUser.lastname }}</p>
                    <a id="accountSettings" ng-click="showSettings()">Редактиране на профила</a>
                    <div>
                        <button class="btn btn-sm btn-danger" onclick="angular.element(this).scope().logout()">Logout</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse1" ng-click="showMapHideChat()">
                    <h4 class="panel-title">
                        Хора
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body">
                        <!--<form method="POST">
                            <div class="col-sm-12">
                                <div class="top dropdown" id="search-bar">

                                    <input type="text" id="search" class="form-control" autocomplete="off" ng-model="namePerson" ng-change="searchPeopleByName()"
                                        placeholder="Търси хора.." />

                                    <ul class="dropdown-menu col-sm-12">
                                    </ul>
                                </div>
                            </div>
                        </form>
                        <hr/>-->
                        <form id="peopleForm" ng-submit="searchPeople()" novalidate class="col-sm-12">
                            <table>
                                <tr>
                                    <td> <label>Радиус: </label> </td>
                                    <td>
                                        <div id="slider" ng-model="radius">
                                    </td>
                                    <td> <span class="formNumbers">{{radius}} km</span></td>
                                </tr>
                                <tr>
                                    <td><label>Пол: </label></td>
                                    <td>
                                        <label>Мъже</label>
                                        <input type="checkbox" checked data-toggle="toggle" data-onstyle="danger" data-offstyle="default" data-size="mini" ng-model="male"
                                            ng-true-value="'on'" ng-false-value="'off'">
                                    </td>
                                    <td>
                                        <label>Жени</label>
                                        <input type="checkbox" data-toggle="toggle" data-onstyle="danger" data-offstyle="default" data-size="mini" ng-model="female"
                                            ng-true-value="'on'" ng-false-value="'off'">
                                    </td>
                                </tr>
                                <tr>
                                    <td><label>Години: </label></td>
                                    <td>
                                        <div id="slider-range" ng-model="age"></div>
                                    </td>
                                    <td><span class="formNumbers"> от {{ minAge }} до {{ maxAge }}</span></td>
                                </tr>
                                <tr>
                                    <td><label>Интереси: </label></td>
                                    <td><select ng-model="selectedInterest" ng-init="selectedInterest='all'">
                                        <option ng-repeat="interest in interests" value="{{interest._id}}">{{ interest.name }}</option>
                                    </select></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="table-row">
                                            <button class="btn btn-danger btn-block" type="submit"> Търси </button>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </form>

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse2" ng-click="showMapHideChat()">
                        <h4 class="panel-title">
                            Събития
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <form ng-submit="searchEvents()" novalidate ng-init="radiusEv=0">
                                <table>
                                    <tr>
                                        <td><label>Радиус: </label></td>
                                        <td>
                                            <div id="sliderEv" ng-model="radiusEv"></div>
                                        </td>
                                        <td><span class="formNumbers">{{radiusEv}} km</span></td>
                                    </tr>
                                    <tr>
                                        <td><button type="submit" class="btn btn-danger">Търси</button></td>
                                        <td><button ng-click="showEventForm($event)" class="btn btn-success" id="createButton">Създай</button></td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div id="lastinvites">
                <p ng-show="missingChatRequests" id="noRequests">Все още нямате предложения за чат</span>
            </div>

    </aside>
    </div>