<div ng-controller="loginController">
    <div id="login-form">
        <h3 class="field-title">Вход</h3>
        <div class="row">
            <div class="col-md-5" id="register-left-side">
                <h3>Влез с: </h3>
                <!--<button class="btn btn-primary btn-lg"><a ng-click="facebook()">Facebook</a></button>-->
                <a href="/auth/facebook"><button class="btn btn-primary btn-lg btn-block"> Facebook </button></a><br/>
                <a href="/auth/google"><button class="btn btn-danger btn-lg btn-block"> Google </button></a>
            </div>
            <div class="col-md-7">
                <h3>Моля попълнете всички полета</h3>
                <form ng-submit="submit()">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="email" type="email" class="form-control" name="email" placeholder="И-мейл" ng-model="username">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="password" type="password" class="form-control" name="password" placeholder="Парола" ng-model="password">
                    </div>
                    <button class=" btn btn-primary btn-lg pull-right">Вход</button>
                </form>
                <p ng-show="error">{{ errorMessage }}</p>
            </div>
        </div>
    </div>
</div>