<div ng-controller="moreInfoController" class="markPerson" ng-show="showme" class="col-sm-3">
    <div id="closeInformation">
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <img class="personProfileImg" src="{{ user.profilePicture }}">
    <div class="personProfile">
        <h1>{{ user.firstname }} {{ user.lastname }}</h1>
        <span ng-show="userIsOnline">На линия</span>
        <span ng-show="userIsOffline">Отсъства</span>
        <h2>{{ user.age }}</h2>
        <p>{{ user.gender }}</p>
        <p>{{ user.description }}</p>
        <h2>Интереси</h2>
        <p ng-repeat="interest in userInterests"> {{interest.name}}</p>
        <p ng-show="isFriend" class="cantStartChat">Този потребител е Ваш приятел и може да започнете чат с него</p>
        <p ng-show="alreadySent" class="cantStartChat">Потребителя все още не е отговорил на поканата Ви.</p>
        <button id="sendChatRequest" class="btn btn-danger" ng-show="chatRequestButton">Започни чат</button>
    </div>
</div>