<div ng-controller="registrationController">
    <div id="register-form">
        <h3 class="field-title">Регистрация</h3>
        <div class="row">

            <div class="col-md-6 col-md-offset-3">
                <h3>Моля попълнете всички полета:</h3>
                <form ng-submit="submit()" class="col-md-12">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="firstName" type="text" class="form-control" ng-model="firstName" placeholder="Име:">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="secondName" type="text" class="form-control" ng-model="lastName" placeholder="Фамилия:">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="email" type="email" class="form-control" ng-model="email" placeholder="И-мейл:">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="password" type="password" class="form-control" ng-model="password" placeholder="Парола">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="repeatedPassword" type="password" class="form-control" ng-model="repeatedPassword" placeholder="Повторете паролата">
                    </div>

                    <button class=" btn btn-primary btn-lg pull-right" type="submit">Регистрация</button>
                    <p ng-show="error" id="registration-error">{{ errorMessage }}</p>
                </form>
            </div>
        </div>
    </div>
</div>